<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.news.NewsDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="xwid != null and xwid != '' ">
			and t.xwid = #{xwid}
		</if>
		<if test="xwbt != null and xwbt != '' ">
			and t.xwbt = #{xwbt}
		</if>
		<if test="xwbtEng != null and xwbtEng != '' ">
			and t.xwbt_eng = #{xwbtEng}
		</if>
		<if test="xwsj != null and xwsj != '' ">
			and t.xwsj = #{xwsj}
		</if>
		<if test="xwlx != null and xwlx != '' ">
			and t.xwlx = #{xwlx}
		</if>
		<if test="gjc != null and gjc != '' ">
			and t.gjc LIKE concat(concat('%',#{gjc}),'%') ESCAPE '\'
		</if>
		<if test="iszd != null and iszd != '' ">
			and t.iszd = #{iszd}
		</if>
		<if test="isxs != null and isxs != '' ">
			and t.isxs = #{isxs}
		</if>
		<if test="issy != null and issy != '' ">
			and t.issy = #{issy}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
			and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
			and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
			and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
			and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
			and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
			and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
			and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
			and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
			and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
			and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
			and t.reserve4 = #{reserve4}
		</if>
		<if test="xwnrBlob != null and xwnrBlob != '' ">
			and t.xwnr_blob = #{xwnrBlob}
		</if>
		<if test="xwnrEngBlob != null and xwnrEngBlob != '' ">
			and t.xwnr_eng_blob = #{xwnrEngBlob}
		</if>
		<if test="xwjs != null and xwjs != '' ">
			and t.xwjs = #{xwjs}
		</if>
		<if test="xwjsEng != null and xwjsEng != '' ">
			and t.xwjsEng = #{xwjsEng}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.xwid xwid,
		t.xwbt xwbt,
		t.xwbt_eng xwbtEng,
		TO_CHAR(t.xwsj,'yyyy-MM-dd HH24:mi:ss') xwsj,
		t.xwlx xwlx,
		t.gjc gjc,
		t.iszd iszd,
		t.isxs isxs,
		t.issy issy,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4,
		t.xwnr_blob xwnrBlob,
		t.xwnr_eng_blob xwnrEngBlob,
		t.xwjs xwjs,
		t.xwjs_eng xwjsEng
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="NewsVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_NEWS t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="NewsVO"  resultType="NewsVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t  WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>

		ORDER  by  t.iszd desc, xwsj desc
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="NewsVO"  resultType="NewsVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t
		WHERE t.DELETE_FLAG = 'N' AND  t.xwid = #{value}
	</select>
	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="NewsVO"  resultType="NewsVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
