<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.news.NewsDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="xwid != null and xwid != '' ">
		 and t.xwid = #{xwid}
		</if>
		<if test="xwbt != null and xwbt != '' ">
		 and t.xwbt = #{xwbt}
		</if>
		<if test="xwbtEng != null and xwbtEng != '' ">
		 and t.xwbt_eng = #{xwbtEng}
		</if>
		<if test="xwnr != null and xwnr != '' ">
		 and t.xwnr = #{xwnr}
		</if>
		<if test="xwnrEng != null and xwnrEng != '' ">
		 and t.xwnr_eng = #{xwnrEng}
		</if>
		<if test="xwsj != null and xwsj != '' ">
		 and t.xwsj = #{xwsj}
		</if>
		<if test="xwlx != null and xwlx != '' ">
		 and t.xwlx = #{xwlx}
		</if>
		<if test="gjc != null and gjc != '' ">
		 and t.gjc = #{gjc}
		</if>
		<if test="iszd != null and iszd != '' ">
		 and t.iszd = #{iszd}
		</if>
		<if test="isxs != null and isxs != '' ">
		 and t.isxs = #{isxs}
		</if>
		<if test="issy != null and issy != '' ">
		 and t.issy = #{issy}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.xwid xwid,
		t.xwbt xwbt,
		t.xwbt_eng xwbtEng,
		t.xwnr xwnr,
		t.xwnr_eng xwnrEng,
		TO_CHAR(t.xwsj,'yyyy-MM-dd HH24:mi:ss') xwsj,
		t.xwlx xwlx,
		t.gjc gjc,
		t.iszd iszd,
		t.isxs isxs,
		t.issy issy,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="NewsVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_NEWS t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="NewsVO"  resultType="NewsVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="NewsVO"  resultType="NewsVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t 
		WHERE t.DELETE_FLAG = 'N' AND  t.xwid = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="NewsVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="xwid">
			SELECT SYS_GUID() AS xwid FROM DUAL
		</selectKey>
		INSERT INTO CFPA_NEWS(xwid,xwbt,xwbt_eng,xwnr,xwnr_eng,xwsj,xwlx,gjc,iszd,isxs,issy,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{xwid,jdbcType=VARCHAR},#{xwbt,jdbcType=VARCHAR},#{xwbtEng,jdbcType=VARCHAR},#{xwnr,jdbcType=VARCHAR},#{xwnrEng,jdbcType=VARCHAR},#{xwsj,jdbcType=DATE},#{xwlx,jdbcType=VARCHAR},#{gjc,jdbcType=VARCHAR},#{iszd,jdbcType=DOUBLE},#{isxs,jdbcType=VARCHAR},#{issy,jdbcType=VARCHAR},'N',#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},#{cjsj,jdbcType=DATE},#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO CFPA_NEWS(xwid,xwbt,xwbt_eng,xwnr,xwnr_eng,xwsj,xwlx,gjc,iszd,isxs,issy,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() xwid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.xwid,jdbcType=VARCHAR} xwid,#{item.xwbt,jdbcType=VARCHAR} xwbt,#{item.xwbtEng,jdbcType=VARCHAR} xwbt_eng,#{item.xwnr,jdbcType=VARCHAR} xwnr,#{item.xwnrEng,jdbcType=VARCHAR} xwnr_eng,#{item.xwsj,jdbcType=DATE} xwsj,#{item.xwlx,jdbcType=VARCHAR} xwlx,#{item.gjc,jdbcType=VARCHAR} gjc,#{item.iszd,jdbcType=DOUBLE} iszd,#{item.isxs,jdbcType=VARCHAR} isxs,#{item.issy,jdbcType=VARCHAR} issy,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  CFPA_NEWS t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.xwid = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="NewsVO"> 
		UPDATE   CFPA_NEWS  
		<set>
			<if test="xwid != null">xwid=#{xwid},</if>
			<if test="xwbt != null">xwbt=#{xwbt},</if>
			<if test="xwbtEng != null">xwbt_eng=#{xwbtEng},</if>
			<if test="xwnr != null">xwnr=#{xwnr},</if>
			<if test="xwnrEng != null">xwnr_eng=#{xwnrEng},</if>
			<if test="xwsj != null">xwsj=TO_DATE(#{xwsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="xwlx != null">xwlx=#{xwlx},</if>
			<if test="gjc != null">gjc=#{gjc},</if>
			<if test="iszd != null">iszd=#{iszd},</if>
			<if test="isxs != null">isxs=#{isxs},</if>
			<if test="issy != null">issy=#{issy},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="cjrid != null">cjrid=#{cjrid},</if>
			<if test="cjrmc != null">cjrmc=#{cjrmc},</if>
			<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="xgrid != null">xgrid=#{xgrid},</if>
			<if test="xgrmc != null">xgrmc=#{xgrmc},</if>
			<if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  xwid = #{xwid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO CFPA_NEWS(xwid,xwbt,xwbt_eng,xwnr,xwnr_eng,xwsj,xwlx,gjc,iszd,isxs,issy,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.xwid,jdbcType=VARCHAR} xwid,#{item.xwbt,jdbcType=VARCHAR} xwbt,#{item.xwbtEng,jdbcType=VARCHAR} xwbt_eng,#{item.xwnr,jdbcType=VARCHAR} xwnr,#{item.xwnrEng,jdbcType=VARCHAR} xwnr_eng,#{item.xwsj,jdbcType=DATE} xwsj,#{item.xwlx,jdbcType=VARCHAR} xwlx,#{item.gjc,jdbcType=VARCHAR} gjc,#{item.iszd,jdbcType=DOUBLE} iszd,#{item.isxs,jdbcType=VARCHAR} isxs,#{item.issy,jdbcType=VARCHAR} issy,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE   
			xwid = VALUES(xwid),
			xwbt = VALUES(xwbt),
			xwbt_eng = VALUES(xwbt_eng),
			xwnr = VALUES(xwnr),
			xwnr_eng = VALUES(xwnr_eng),
			xwsj = VALUES(xwsj),
			xwlx = VALUES(xwlx),
			gjc = VALUES(gjc),
			iszd = VALUES(iszd),
			isxs = VALUES(isxs),
			issy = VALUES(issy),
			delete_flag = VALUES(delete_flag),
			cjrid = VALUES(cjrid),
			cjrmc = VALUES(cjrmc),
			cjsj = VALUES(cjsj),
			xgrid = VALUES(xgrid),
			xgrmc = VALUES(xgrmc),
			xgsj = VALUES(xgsj),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="NewsVO"  resultType="NewsVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_NEWS t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
