<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.prediction.QywjdcDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="uuid != null and uuid != '' ">
            and t.uuid = #{uuid}
        </if>
        <if test="qyid != null and qyid != '' ">
            and t.qyid = #{qyid}
        </if>
        <if test="gsxz != null and gsxz != '' ">
            and t.gsxz = #{gsxz}
        </if>
        <if test="sfhwdlcp != null and sfhwdlcp != '' ">
            and t.sfhwdlcp = #{sfhwdlcp}
        </if>
        <if test="hwdlcppp != null and hwdlcppp != '' ">
            and t.hwdlcppp = #{hwdlcppp}
        </if>
        <if test="fmzl != null and fmzl != '' ">
            and t.fmzl = #{fmzl}
        </if>
        <if test="syxxzl != null and syxxzl != '' ">
            and t.syxxzl = #{syxxzl}
        </if>
        <if test="wgsjzl != null and wgsjzl != '' ">
            and t.wgsjzl = #{wgsjzl}
        </if>
        <if test="sfgxjsqy != null and sfgxjsqy != '' ">
            and t.sfgxjsqy = #{sfgxjsqy}
        </if>
        <if test="gxjsjb != null and gxjsjb != '' ">
            and t.gxjsjb = #{gxjsjb}
        </if>
        <if test="zycp != null and zycp != '' ">
            and t.zycp = #{zycp}
        </if>
        <if test="sfhyxydj != null and sfhyxydj != '' ">
            and t.sfhyxydj = #{sfhyxydj}
        </if>
        <if test="hyxydj != null and hyxydj != '' ">
            and t.hyxydj = #{hyxydj}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.uuid uuid,
		t.qyid qyid,
		t.gsxz gsxz,
		t.sfhwdlcp sfhwdlcp,
		t.hwdlcppp hwdlcppp,
		t.fmzl fmzl,
		t.syxxzl syxxzl,
		t.wgsjzl wgsjzl,
		t.sfgxjsqy sfgxjsqy,
		t.gxjsjb gxjsjb,
		t.zycp zycp,
		t.sfhyxydj sfhyxydj,
		t.hyxydj hyxydj,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="QywjdcVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM CFPA_QY_WJDC t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="QywjdcVO" resultType="QywjdcVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name gsxzmc,
        c4.code_name gxjsjbmc,
        c6.code_name hyxydjmc
        FROM CFPA_QY_WJDC t
        <!--公司性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'GSXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.gsxz = c2.CODE_VALUE
        <!--高新技术级别-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'GXJSJB' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t.gxjsjb = c4.CODE_VALUE
        <!--行业信用等级-->
        Left Join SYS_CODELIST c5 on c5.CODETYPE = 'HYXYDJ' And c5.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c6 On c6.CODEID = c5.CODEID And c6.DELETE_FLAG = 'N' and t.hyxydj = c6.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="QywjdcVO" resultType="QywjdcVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name gsxzmc,
        c4.code_name gxjsjbmc,
        c6.code_name hyxydjmc
        FROM CFPA_QY_WJDC t
        <!--公司性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'GSXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.gsxz = c2.CODE_VALUE
        <!--高新技术级别-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'GXJSJB' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t.gxjsjb = c4.CODE_VALUE
        <!--行业信用等级-->
        Left Join SYS_CODELIST c5 on c5.CODETYPE = 'HYXYDJ' And c5.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c6 On c6.CODEID = c5.CODEID And c6.DELETE_FLAG = 'N' and t.hyxydj = c6.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N' AND t.QYID = #{value}
    </select>
    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="QywjdcVO" resultType="QywjdcVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM CFPA_QY_WJDC t
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>
</mapper>
