<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.prediction.QyzwyxDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="uuid != null and uuid != '' ">
            and t.uuid = #{uuid}
        </if>
        <if test="qyid != null and qyid != '' ">
            and t.qyid = #{qyid}
        </if>
        <if test="bzzwgs != null and bzzwgs != '' ">
            and t.bzzwgs = #{bzzwgs}
        </if>
        <if test="sngdzw != null and sngdzw != '' ">
            and t.sngdzw = #{sngdzw}
        </if>
        <if test="swgdzw != null and swgdzw != '' ">
            and t.swgdzw = #{swgdzw}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.uuid uuid,
		t.qyid qyid,
		t.bzzwgs bzzwgs,
		t.sngdzw sngdzw,
		t.swgdzw swgdzw,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="QyzwyxVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM CFPA_QY_ZWYX t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="QyzwyxVO" resultType="QyzwyxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        k.cplx cplx
        FROM CFPA_QY_ZWYX t
        <!--产品类型-->
        Left Join CFPA_QY_CPJS k on t.qyid = k.qyid And k.DELETE_FLAG = 'N'
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="QyzwyxVO" resultType="QyzwyxVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM CFPA_QY_ZWYX t
        WHERE t.DELETE_FLAG = 'N' AND t.QYID = #{value}
    </select>
    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="QyzwyxVO" resultType="QyzwyxVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM CFPA_QY_ZWYX t
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--12.统计分析 -->
    <select id="dofindtjfx" parameterType="QyzwyxVO" resultType="QyzwyxVO">
      SELECT C.CODE_NAME cplxmc,C.CODE_VALUE cplx,
           NVL(Q.CZQYSL, 0) czqysl,
           NVL(Q.BZZWGS, 0) bwzwgssl,
           NVL(Q.GDZWMJ, 0) gdzwmj
      FROM (SELECT CODE_VALUE, CODE_NAME
              FROM SYS_CODELIST_DETAIL
             WHERE CODETYPE = 'CPLX'
               AND DELETE_FLAG = 'N'
               AND SUBSTR(CODE_VALUE, 2, 3) = '000') C
      LEFT JOIN (SELECT CPLX,
                        COUNT(1) CZQYSL,
                        SUM(BZZWGS) BZZWGS,
                        SUM(SNGDZW) + SUM(SWGDZW) GDZWMJ
                   FROM (SELECT TT1.QYID,
                                TT1.CPLX,
                                TT2.BZZWGS,
                                TT2.SNGDZW,
                                TT2.SWGDZW
                           FROM (SELECT DISTINCT T1.QYID,
                                                 CONCAT(SUBSTR(T2.CPLX, 0, 1),
                                                        '000') CPLX
                                   FROM CFPA_QY_JBXX T1
                                  INNER JOIN CFPA_QY_CPJS T2
                                     ON T1.QYID = T2.QYID
                                    AND T2.DELETE_FLAG = 'N'
                                  WHERE T1.DELETE_FLAG = 'N') TT1
                           LEFT JOIN CFPA_QY_ZWYX TT2
                             ON TT1.QYID = TT2.QYID
                            AND TT2.DELETE_FLAG = 'N')
                  GROUP BY CPLX) Q
        ON C.CODE_VALUE = Q.CPLX
     ORDER BY c.CODE_VALUE
    </select>

    <!--13.面积分类 -->
    <select id="dofindtjfxsj" parameterType="QyzwyxVO" resultType="QyzwyxVO">
        SELECT C.CODE_VALUE ZWMJFW, C.CODE_NAME ZWMJFWMC, NVL(ZWSL,0) sl
        FROM (SELECT CODE_VALUE, CODE_NAME FROM SYS_CODELIST_DETAIL WHERE CODETYPE = 'ZWMJFW' AND DELETE_FLAG = 'N') C
        LEFT JOIN (SELECT ZWMJFW,COUNT(1) ZWSL
        FROM(
        SELECT (CASE WHEN T3.SNGDZW>=24 AND T3.SNGDZW &lt; 60 THEN '1' WHEN T3.SNGDZW>=60 AND T3.SNGDZW &lt; 100 THEN '2' WHEN T3.SNGDZW>=100 AND T3.SNGDZW &lt; 150 THEN '3' WHEN T3.SNGDZW>=150 AND T3.SNGDZW &lt; 200 THEN '4' WHEN T3.SNGDZW>=200 THEN '5' ELSE '9' END) ZWMJFW
        FROM CFPA_QY_JBXX T1 INNER JOIN CFPA_QY_ZWYX T3 ON T1.QYID = T3.QYID AND T3.DELETE_FLAG = 'N' AND T3.SNGDZW IS NOT NULL WHERE T1.DELETE_FLAG = 'N'
        UNION ALL
        SELECT (CASE WHEN T3.SWGDZW>=24 AND T3.SWGDZW &lt; 60 THEN '1' WHEN T3.SWGDZW>=60 AND T3.SWGDZW &lt; 100 THEN '2' WHEN T3.SWGDZW>=100 AND T3.SWGDZW &lt; 150 THEN '3' WHEN T3.SWGDZW>=150 AND T3.SWGDZW &lt; 200 THEN '4' WHEN T3.SWGDZW>=200 THEN '5' ELSE '9' END) ZWMJFW
        FROM CFPA_QY_JBXX T1 INNER JOIN CFPA_QY_ZWYX T3 ON T1.QYID = T3.QYID AND T3.DELETE_FLAG = 'N' AND T3.SWGDZW IS NOT NULL WHERE T1.DELETE_FLAG = 'N'
        ) GROUP BY ZWMJFW) Q
        ON C.CODE_VALUE = Q.ZWMJFW
        ORDER BY C.CODE_VALUE
    </select>


    <select id="doFindQyzwyxByCplx" parameterType="QyzwyxVO" resultType="QyzwyxVO">
        SELECT TT1.QYID,
                TT1.Zwgsmc,
                TT1.Ywgsmc,
                TT1.Lxr,
                TT1.Lxrsj,
                NVL(TT2.BZZWGS,0) BZZWGS,
                NVL(TT2.SNGDZW,0) SNGDZW,
                NVL(TT2.SWGDZW,0) SWGDZW
        FROM ( SELECT DISTINCT T1.QYID,
                                 T1.Zwgsmc,
                                 T1.Ywgsmc,
                                 T1.Lxr,
                                 T1.Lxrsj
                FROM CFPA_QY_JBXX T1
                INNER JOIN CFPA_QY_CPJS T2 ON T1.QYID = T2.QYID AND T2.DELETE_FLAG = 'N'
                INNER JOIN SYS_CODELIST_DETAIL T3 ON T2.Cplx = T3.CODE_VALUE AND T3.CODETYPE = 'CPLX' AND T3.DELETE_FLAG = 'N'
                WHERE T1.DELETE_FLAG = 'N'
                <if test="cplx != null and cplx != '' "> and CONCAT(SUBSTR(T2.CPLX, 0, 1),'000')=#{cplx} </if>
              ) TT1
        LEFT JOIN CFPA_QY_ZWYX TT2 ON TT1.QYID = TT2.QYID AND TT2.DELETE_FLAG = 'N'
        <if test='zwmjfw =="1"'> where (TT2.SNGDZW &gt;= 24 and TT2.SNGDZW &lt;= 59 ) or (TT2.SWGDZW &gt;= 24 and TT2.SWGDZW &lt;= 59)</if>
        <if test='zwmjfw =="2"'> where (TT2.SNGDZW &gt;= 60 and TT2.SNGDZW &lt;= 99 ) or (TT2.SWGDZW &gt;= 60 and TT2.SWGDZW &lt;= 99)</if>
        <if test='zwmjfw =="3"'> where (TT2.SNGDZW &gt;= 100 and TT2.SNGDZW &lt;= 149 ) or (TT2.SWGDZW &gt;= 100 and TT2.SWGDZW &lt;= 149)</if>
        <if test='zwmjfw =="4"'> where (TT2.SNGDZW &gt;= 150 and TT2.SNGDZW &lt;= 199 ) or (TT2.SWGDZW &gt;= 150 and TT2.SWGDZW &lt;= 199)</if>
        <if test='zwmjfw =="5"'> where TT2.SNGDZW &gt;= 200 or TT2.SWGDZW &gt;= 200</if>
        <if test='zwmjfw =="9"'> where TT2.SNGDZW  &lt; 24 or TT2.SWGDZW  &lt; 24</if>
        order by TT1.Zwgsmc desc
    </select>
</mapper>
