<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.venue.ZgjbxxDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="zgtp != null and zgtp != '' ">
		 and t.zgtp = #{zgtp}
		</if>
		<if test="zgzwhb != null and zgzwhb != '' ">
		 and t.zgzwhb = #{zgzwhb}
		</if>
		<if test="zgmc != null and zgmc != '' ">
			and t.zgmc LIKE concat(concat('%',upper(#{zgmc})),'%') ESCAPE '\'
		</if>
		<if test="zgtpdz != null and zgtpdz != '' ">
		 and t.zgtpdz = #{zgtpdz}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.zgtp zgtp,
		t.zgzwhb zgzwhb,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="ZgjbxxVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_ZG_JBXX t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->

	<select id="doSearchListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO"> 
		SELECT
		t.uuid uuid,
		t.zgtp zgtp,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZG_JBXX t 
		WHERE t.DELETE_FLAG = 'N' AND  t.UUID = #{value} 
	</select>
	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZG_JBXX t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>
	<!--只查询画布-->
	<select id="doSearchHbListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgzwhb zgzwhb,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>
	<!--只查询画布图片-->
	<select id="doSearchHbTpListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgzwhbtp zgzwhbtp,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<!--只查询数据-->
	<select id="doSearchDataListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<select id="doSearchZgmc" resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgmc zgmc
		FROM CFPA_ZG_JBXX t  WHERE t.DELETE_FLAG = 'N'
		ORDER BY T.ZGMC
	</select>
</mapper>
