<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.portalservice.dao.venue.ZwjbxxDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="zwlb != null and zwlb != '' ">
		 and t.zwlb LIKE concat(concat('%',#{zwlb}),'%') ESCAPE '\'
		</if>
		<if test="cklx != null and cklx != '' ">
			and t.cklx = #{cklx}
		</if>
		<if test="zwmj != null and zwmj != '' ">
		 and t.zwmj = #{zwmj}
		</if>
		<if test="zwzt != null and zwzt != '' ">
		 and t.zwzt = #{zwzt}
		</if>
		<if test="qyid != null and qyid != '' ">
		 and t.qyid = #{qyid}
		</if>
		<if test="zwkd != null and zwkd != '' ">
		 and t.zwkd = #{zwkd}
		</if>
		<if test="zwcd != null and zwcd != '' ">
		 and t.zwcd = #{zwcd}
		</if>
		<if test="zwmc != null and zwmc != '' ">
			and t.zwmc LIKE concat(concat('%',#{zwmc}),'%') ESCAPE '\'
		</if>
		<if test="zwh != null and zwh != '' ">
			and t.zwh LIKE concat(concat('%',#{zwh}),'%') ESCAPE '\'
		</if>

		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
		<if test="zgid != null and zgid != '' ">
		 and t.zgid = #{zgid}
		</if>
		<if test="bhzh != null and bhzh != '' ">
		 and t.bhzh = #{bhzh}
		</if>
		<if test="bhzt != null and bhzt != '' ">
		 and t.bhzt = #{bhzt}
		</if>
		<if test="bhzc != null and bhzc != '' ">
		 and t.bhzc = #{bhzc}
		</if>
		<if test="bhzs != null and bhzs != '' ">
		 and t.bhzs = #{bhzs}
		</if>
		<if test="mczt != null and mczt != '' ">
		 and t.mczt = #{mczt}
		</if>
		<if test="mczh != null and mczh != '' ">
		 and t.mczh = #{mczh}
		</if>
		<if test="mczc != null and mczc != '' ">
		 and t.mczc = #{mczc}
		</if>
		<if test="mczs != null and mczs != '' ">
		 and t.mczs = #{mczs}
		</if>
	</sql>
	<!--1.查询条件，精确查询-->
	<sql id="SQL_CONDITION_EXACT">
		<if test="uuid != null and uuid != '' ">
			and t.uuid = #{uuid}
		</if>
		<if test="zwlb != null and zwlb != '' ">
			and t.zwlb = #{zwlb}'
		</if>
		<if test="cklx != null and cklx != '' ">
			and t.cklx = #{cklx}
		</if>
		<if test="zwmj != null and zwmj != '' ">
			and t.zwmj = #{zwmj}
		</if>
		<if test="zwzt != null and zwzt != '' ">
			and t.zwzt = #{zwzt}
		</if>
		<if test="qyid != null and qyid != '' ">
			and t.qyid = #{qyid}
		</if>
		<if test="zwkd != null and zwkd != '' ">
			and t.zwkd = #{zwkd}
		</if>
		<if test="zwcd != null and zwcd != '' ">
			and t.zwcd = #{zwcd}
		</if>
		<if test="zwmc != null and zwmc != '' ">
			and t.zwmc = #{zwmc}
		</if>
		<if test="zwh != null and zwh != '' ">
			and t.zwh = #{zwh}
		</if>

		<if test="deleteFlag != null and deleteFlag != '' ">
			and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
			and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
			and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
			and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
			and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
			and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
			and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
			and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
			and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
			and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
			and t.reserve4 = #{reserve4}
		</if>
		<if test="zgid != null and zgid != '' ">
			and t.zgid = #{zgid}
		</if>
		<if test="bhzh != null and bhzh != '' ">
			and t.bhzh = #{bhzh}
		</if>
		<if test="bhzt != null and bhzt != '' ">
			and t.bhzt = #{bhzt}
		</if>
		<if test="bhzc != null and bhzc != '' ">
			and t.bhzc = #{bhzc}
		</if>
		<if test="bhzs != null and bhzs != '' ">
			and t.bhzs = #{bhzs}
		</if>
		<if test="mczt != null and mczt != '' ">
			and t.mczt = #{mczt}
		</if>
		<if test="mczh != null and mczh != '' ">
			and t.mczh = #{mczh}
		</if>
		<if test="mczc != null and mczc != '' ">
			and t.mczc = #{mczc}
		</if>
		<if test="mczs != null and mczs != '' ">
			and t.mczs = #{mczs}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.zwh zwh,
		t.zwlb zwlb,
		t.cklx cklx,
		t.zwmj zwmj,
		t.zwzt zwzt,
		t.qyid qyid,
		t.zwkd zwkd,
		t.zwcd zwcd,
		t.zwmc zwmc,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4,
		t.zgid zgid,
		t.bhzh bhzh,
		t.bhzt bhzt,
		t.bhzc bhzc,
		t.bhzs bhzs,
		t.mczt mczt,
		t.mczh mczh,
		t.mczc mczc,
		t.mczs mczs
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="ZwjbxxVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_ZW_JBXX t WHERE 1=1 AND DELETE_FLAG = 'N'
		<if test="zgid == null or zgid == '' ">
			and  t.reserve1 is not null
		</if>

		<include refid="SQL_CONDITION"/>
	</select>

	<!--3.查询记录数-->
	<select id="doSearchCountExact" parameterType="ZwjbxxVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_ZW_JBXX t WHERE 1=1 AND DELETE_FLAG = 'N'
		<if test="zgid == null or zgid == '' ">
			and  t.reserve1 is not null
		</if>

		<include refid="SQL_CONDITION_EXACT"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO"> 
		SELECT
			<include refid="SQL_CONTENT"/>
		FROM CFPA_ZW_JBXX t  WHERE t.DELETE_FLAG = 'N'
		<if test="zgid == null or zgid == '' ">
			and  t.reserve1 is not null
		</if>
			<include refid="SQL_CONDITION"/>
		ORDER BY T.CJSJ
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">  
		SELECT
		<include refid="SQL_CONTENT"/> ,
		(CASE sa.usertype WHEN 'CHN' THEN q.zwgsmc WHEN 'ENG' THEN q.ywgsmc ELSE '' END) qymc, q.gsjc
		FROM CFPA_ZW_JBXX t
		left join CFPA_QY_JBXX q
		on t.qyid = q.qyid and q.DELETE_FLAG = 'N'
		left join sys_account sa
		on sa.userid = q.userid and sa.DELETE_FLAG = 'N'
		WHERE t.DELETE_FLAG = 'N' and  t.UUID = #{value}
	</select>
	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZW_JBXX t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>
	<!--12.按条件查询记录-->
	<select id="doSearchListQyByVO" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">
		SELECT
		<include refid="SQL_CONTENT"/> ,
		(CASE sa.usertype WHEN 'CHN' THEN q.zwgsmc WHEN 'ENG' THEN q.ywgsmc ELSE '' END) qymc, q.gsjc,
		q.lxr,
		q.lxrsj,
		c2.code_name||c4.code_name||q.yjdzxx yjdzxx
		FROM CFPA_ZW_JBXX t
		left join CFPA_QY_JBXX q
		on t.qyid = q.qyid and q.DELETE_FLAG = 'N'
		left join sys_account sa
		on sa.userid = q.userid and sa.DELETE_FLAG = 'N'
		<!--省-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'XZQH' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c2.CODEID = c1.CODEID And c2.DELETE_FLAG = 'N' and q.yjdzsheng = c2.CODE_VALUE
		<!--市-->
		Left Join SYS_CODELIST c3 on c3.CODETYPE = 'XZQH' And c3.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and q.yjdzshi = c4.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		<if test="zgid == null or zgid == '' ">
			and  t.reserve1 is not null
		</if>
		<if test="qymc != null and qymc != '' ">
			and ((q.zwgsmc LIKE concat(concat('%',#{qymc}),'%') ESCAPE '\' and sa.usertype = 'CHN')
			or (q.ywgsmc LIKE concat(concat('%',#{qymc}),'%') ESCAPE '\' and sa.usertype = 'ENG'))
		</if>
		<include refid="SQL_CONDITION"/>
		ORDER BY substr(t.zwh,1,4) asc,
		to_number(TRANSLATE (replace(t.zwh,'-',''),'0123456789'||replace(t.zwh,'-',''),'0123456789')) asc
	</select>

	<!--14.企业选择的展位数量从大到小进行排序  by li.xue 2018/12/29-->
	<select id="doFindQyZwNumDesc" parameterType="ZwjbxxVO" resultType="ZwjbxxVO">
		WITH TEMP_ZW AS(
  			SELECT QYID, ZWH FROM CFPA_ZW_JBXX WHERE DELETE_FLAG = 'N' AND QYID IS NOT NULL
			<if test="zgList != null and zgList.size() > 0">
				AND SUBSTR(ZWH,1,2) IN
				<foreach collection="zgList" item="item" index="index" open="(" separator=", " close=")">
					#{item}
				</foreach>
			</if>
		)
		SELECT A.QYID, A.GSMC, A.LXR, A.LXRSJ, A.ZWNUM, B.ZWH,A.YWGSMC reserve1
		FROM (
  			SELECT T1.QYID, NVL(T2.ZWGSMC,T2.YWGSMC) GSMC,T2.YWGSMC, T2.LXR, T2.LXRSJ, COUNT(1) ZWNUM
  			FROM TEMP_ZW T1 INNER JOIN CFPA_QY_JBXX T2 ON T1.QYID = T2.QYID AND T2.DELETE_FLAG = 'N'
  			GROUP BY T1.QYID, NVL(T2.ZWGSMC,T2.YWGSMC), T2.LXR, T2.LXRSJ,T2.YWGSMC
		) A
		INNER JOIN (
			SELECT QYID, MAX(ZWH) ZWH FROM (
				SELECT QYID, TO_CHAR(WMSYS.WM_CONCAT(ZWH) OVER(PARTITION BY QYID ORDER BY SUBSTR(zwh,1,4) ASC,
				TO_NUMBER(TRANSLATE (REPLACE(zwh,'-',''),'0123456789'||REPLACE(zwh,'-',''),'0123456789')) ASC)) ZWH
				FROM TEMP_ZW
			) GROUP BY QYID
		) B ON A.QYID = B.QYID

		<if test="gsmc != null and gsmc != '' ">
			where  A.GSMC LIKE concat(concat('%',#{gsmc}),'%') ESCAPE '\'
		</if>

		ORDER BY ZWNUM DESC ,ZWH
	</select>
	<!--15.查询企业选择的标准展位list及价格信息 add by yushch 20190116-->
	<select id="doFindBzzwAndJgByVo" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">
		SELECT
		t.uuid uuid,
		t.zwh zwh,
		t.zwmj zwmj,
		round(t1.fljg *t.zwmj /t1.flmj,4) as zwjg,
		round(t1.fljg_eng * t.zwmj/t1.flmj,4) as zwjg_eng
		FROM CFPA_ZW_JBXX t INNER JOIN CFPA_ZW_FLXX t1 ON t1.DELETE_FLAG = 'N' AND t1.ZWFL = '1'
		WHERE t.DELETE_FLAG = 'N'
		and t.zwlb = '标准展位'
		<if test="qyid != null and qyid != '' ">
			and t.qyid = #{qyid}
		</if>
		ORDER BY substr(t.zwh,1,4) asc,
		to_number(TRANSLATE (replace(t.zwh,'-',''),'0123456789'||replace(t.zwh,'-',''),'0123456789')) asc
	</select>
	<!--16.查询企业选择的光地展位list及价格信息 add by yushch 20190116-->
	<select id="doFindSngdzwAndJgByVo" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">
		SELECT t1.uuid uuid ,
		t1.zwh zwh ,
		t1.zwmj zwmj,
		c2.code_name cklx,
		round(t2.fljg*t1.zwmj/t2.flmj,4) as zwjg,
		round(t2.fljg_eng*t1.zwmj/t2.flmj, 4) as zwjg_eng
		FROM
		(
			SELECT
			t.uuid uuid,
			t.zwh zwh,
			t.zwmj zwmj,
			case when t.cklx = '一面开' then '1'
			when t.cklx = '两面开' then '2'
			when t.cklx = '三面开' then '3'
			when t.cklx = '全开' then '4' end as cklx
			FROM CFPA_ZW_JBXX t
			WHERE t.DELETE_FLAG = 'N' and t.zwlb = '光地' AND substr(t.zwh,0,2) != 'OD'
			<if test="qyid != null and qyid != '' ">
				and t.qyid = #{qyid}
			</if>
		)t1
		inner join CFPA_ZW_FLXX t2 ON t2.DELETE_FLAG = 'N' AND t2.ZWFL = '2' AND t1.cklx = t2.kkfl
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'CKLX' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c2.CODEID = c1.CODEID And c2.DELETE_FLAG = 'N' and t1.cklx = c2.CODE_VALUE
		ORDER BY substr(t1.zwh,1,4) asc,
		to_number(TRANSLATE (replace(t1.zwh,'-',''),'0123456789'||replace(t1.zwh,'-',''),'0123456789')) asc
	</select>
	<!--16.查询企业选择的ODlist及价格信息 add by yushch 20190117-->
	<select id="doFindOdAndJgByVo" parameterType="ZwjbxxVO"  resultType="ZwjbxxVO">
		SELECT
		t.uuid uuid,
		t.zwh zwh,
		t.zwmj zwmj,
		t.cklx cklx,
		round(t1.fljg*t.zwmj/t1.flmj,4) as zwjg,
		round(t1.fljg_eng*t.zwmj/t1.flmj,4) as zwjg_eng
		FROM CFPA_ZW_JBXX t INNER JOIN CFPA_ZW_FLXX t1 ON t1.DELETE_FLAG = 'N' AND t1.ZWFL = '3'
		WHERE t.DELETE_FLAG = 'N'
		and substr(t.zwh,0,2) = 'OD'
		<if test="qyid != null and qyid != '' ">
			and t.qyid = #{qyid}
		</if>
		ORDER BY substr(t.zwh,1,4) asc,
		to_number(TRANSLATE (replace(t.zwh,'-',''),'0123456789'||replace(t.zwh,'-',''),'0123456789')) asc
	</select>
</mapper>
