<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.userservice.dao.venue.ZgjbxxDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="zgtp != null and zgtp != '' ">
		 and t.zgtp = #{zgtp}
		</if>
		<if test="zgzwhb != null and zgzwhb != '' ">
		 and t.zgzwhb = #{zgzwhb}
		</if>
		<if test="zgmc != null and zgmc != '' ">
			and t.zgmc LIKE concat(concat('%',upper(#{zgmc})),'%') ESCAPE '\'
		</if>
		<if test="zgtpdz != null and zgtpdz != '' ">
		 and t.zgtpdz = #{zgtpdz}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.zgtp zgtp,
		t.zgzwhb zgzwhb,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="ZgjbxxVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_ZG_JBXX t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->

	<select id="doSearchListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO"> 
		SELECT
		t.uuid uuid,
		t.zgtp zgtp,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZG_JBXX t 
		WHERE t.DELETE_FLAG = 'N' AND  t.UUID = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="ZgjbxxVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="uuid">
			SELECT SYS_GUID() AS uuid FROM DUAL
		</selectKey>
		INSERT INTO CFPA_ZG_JBXX(uuid,zgtp,zgzwhbtp,zgzwhb,zgmc,zgtpdz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{zgtp,jdbcType=VARCHAR},#{zgzwhbtp,jdbcType=VARCHAR} ,#{zgzwhb,jdbcType=VARCHAR},#{zgmc,jdbcType=VARCHAR},#{zgtpdz,jdbcType=VARCHAR},'N',#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},SYSDATE,#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO CFPA_ZG_JBXX(uuid,zgtp,zgzwhbtp,zgzwhb,zgmc,zgtpdz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() uuid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.zgtp,jdbcType=VARCHAR} zgtp,#{item.zgzwhbtp,jdbcType=VARCHAR} zgzwhbtp,#{item.zgzwhb,jdbcType=VARCHAR} zgzwhb,#{item.zgmc,jdbcType=VARCHAR} zgmc,#{item.zgtpdz,jdbcType=VARCHAR} zgtpdz,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  CFPA_ZG_JBXX t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.UUID = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="ZgjbxxVO"> 
		UPDATE   CFPA_ZG_JBXX  
		<set>
			xgsj=sysdate,
			<if test="zgtp != null">zgtp=#{zgtp},</if>
			<if test="zgzwhb != null">zgzwhb=#{zgzwhb},</if>
			<if test="zgzwhbtp != null">zgzwhbtp=#{zgzwhbtp},</if>
			<if test="zgmc != null">zgmc=#{zgmc},</if>
			<if test="zgtpdz != null">zgtpdz=#{zgtpdz},</if>
			<if test="deleteFlag != null">delete_flag=#{deleteFlag},</if>
			<if test="cjrid != null">cjrid=#{cjrid},</if>
			<if test="cjrmc != null">cjrmc=#{cjrmc},</if>
			<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="xgrid != null">xgrid=#{xgrid},</if>
			<if test="xgrmc != null">xgrmc=#{xgrmc},</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  UUID = #{uuid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO CFPA_ZG_JBXX(uuid,zgtp,zgzwhb,zgmc,zgtpdz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.zgtp,jdbcType=VARCHAR} zgtp,#{item.zgzwhb,jdbcType=VARCHAR} zgzwhb,#{item.zgmc,jdbcType=VARCHAR} zgmc,#{item.zgtpdz,jdbcType=VARCHAR} zgtpdz,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE   
			uuid = VALUES(uuid),
			zgtp = VALUES(zgtp),
			zgzwhb = VALUES(zgzwhb),
			zgmc = VALUES(zgmc),
			zgtpdz = VALUES(zgtpdz),
			delete_flag = VALUES(delete_flag),
			cjrid = VALUES(cjrid),
			cjrmc = VALUES(cjrmc),
			cjsj = VALUES(cjsj),
			xgrid = VALUES(xgrid),
			xgrmc = VALUES(xgrmc),
			xgsj = VALUES(xgsj),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZG_JBXX t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>
	<!--只查询画布-->
	<select id="doSearchHbListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgzwhb zgzwhb,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>
	<!--只查询画布图片-->
	<select id="doSearchHbTpListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgzwhbtp zgzwhbtp,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<!--只查询数据-->
	<select id="doSearchDataListByVO" parameterType="ZgjbxxVO"  resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgmc zgmc,
		t.zgtpdz zgtpdz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM CFPA_ZG_JBXX t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
		ORDER BY T.ZGMC
	</select>

	<select id="doSearchZgmc" resultType="ZgjbxxVO">
		SELECT
		t.uuid uuid,
		t.zgmc zgmc
		FROM CFPA_ZG_JBXX t  WHERE t.DELETE_FLAG = 'N'
		ORDER BY T.ZGMC
	</select>
</mapper>
