<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.userservice.dao.venue.ZwlogDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
		<if test="yqyid != null and yqyid != '' ">
		 and t.yqyid = #{yqyid}
		</if>
		<if test="zwuuid != null and zwuuid != '' ">
		 and t.zwuuid = #{zwuuid}
		</if>
		<if test="zwh != null and zwh != '' ">
		 and t.zwh = #{zwh}
		</if>
		<if test="qyid != null and qyid != '' ">
		 and t.qyid = #{qyid}
		</if>
		<if test="czlx != null and czlx != '' ">
		 and t.czlx = #{czlx}
		</if>
		<if test="czrid != null and czrid != '' ">
		 and t.czrid = #{czrid}
		</if>
		<if test="czrmc != null and czrmc != '' ">
		 and t.czrmc = #{czrmc}
		</if>
		<if test="czsj != null and czsj != '' ">
		 and t.czsj = #{czsj}
		</if>
		<if test="rzsj != null and rzsj != '' ">
		 and t.rzsj = #{rzsj}
		</if>
		<if test="ffmc != null and ffmc != '' ">
		 and t.ffmc = #{ffmc}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4,
		t.yqyid yqyid,
		t.zwuuid zwuuid,
		t.zwh zwh,
		t.qyid qyid,
		t.czlx czlx,
		t.czrid czrid,
		t.czrmc czrmc,
		TO_CHAR(t.czsj,'yyyy-MM-dd HH24:mi:ss') czsj,
		TO_CHAR(t.rzsj,'yyyy-MM-dd HH24:mi:ss') rzsj,
		t.ffmc ffmc,
		t.delete_flag deleteFlag,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="ZwlogVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM CFPA_ZW_LOG t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="ZwlogVO"  resultType="ZwlogVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM CFPA_ZW_LOG t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="ZwlogVO"  resultType="ZwlogVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZW_LOG t 
		WHERE t.DELETE_FLAG = 'N' AND  t.PKID = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="ZwlogVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="pkid">
			SELECT SYS_GUID() AS pkid FROM DUAL
		</selectKey>
		INSERT INTO CFPA_ZW_LOG(uuid,reserve1,reserve2,reserve3,reserve4,yqyid,zwuuid,zwh,qyid,czlx,czrid,czrmc,czsj,rzsj,ffmc,delete_flag,xgrid,xgrmc,xgsj)
		VALUES(#{uuid,jdbcType=VARCHAR},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE},#{yqyid,jdbcType=VARCHAR},#{zwuuid,jdbcType=VARCHAR},#{zwh,jdbcType=VARCHAR},#{qyid,jdbcType=VARCHAR},#{czlx,jdbcType=VARCHAR},#{czrid,jdbcType=VARCHAR},#{czrmc,jdbcType=VARCHAR},#{czsj,jdbcType=DATE},#{rzsj,jdbcType=DATE},#{ffmc,jdbcType=VARCHAR},'N',#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO CFPA_ZW_LOG(uuid,reserve1,reserve2,reserve3,reserve4,yqyid,zwuuid,zwh,qyid,czlx,czrid,czrmc,czsj,rzsj,ffmc,delete_flag,xgrid,xgrmc,xgsj)
		SELECT SYS_GUID() pkid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4,#{item.yqyid,jdbcType=VARCHAR} yqyid,#{item.zwuuid,jdbcType=VARCHAR} zwuuid,#{item.zwh,jdbcType=VARCHAR} zwh,#{item.qyid,jdbcType=VARCHAR} qyid,#{item.czlx,jdbcType=VARCHAR} czlx,#{item.czrid,jdbcType=VARCHAR} czrid,#{item.czrmc,jdbcType=VARCHAR} czrmc,#{item.czsj,jdbcType=DATE} czsj,#{item.rzsj,jdbcType=DATE} rzsj,#{item.ffmc,jdbcType=VARCHAR} ffmc,'N' delete_flag,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  CFPA_ZW_LOG t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.PKID = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="ZwlogVO"> 
		UPDATE   CFPA_ZW_LOG  
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="yqyid != null">yqyid=#{yqyid},</if>
			<if test="zwuuid != null">zwuuid=#{zwuuid},</if>
			<if test="zwh != null">zwh=#{zwh},</if>
			<if test="qyid != null">qyid=#{qyid},</if>
			<if test="czlx != null">czlx=#{czlx},</if>
			<if test="czrid != null">czrid=#{czrid},</if>
			<if test="czrmc != null">czrmc=#{czrmc},</if>
			<if test="czsj != null">czsj=TO_DATE(#{czsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="rzsj != null">rzsj=TO_DATE(#{rzsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="ffmc != null">ffmc=#{ffmc},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="xgrid != null">xgrid=#{xgrid},</if>
			<if test="xgrmc != null">xgrmc=#{xgrmc},</if>
			<if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  PKID = #{pkid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO CFPA_ZW_LOG(uuid,reserve1,reserve2,reserve3,reserve4,yqyid,zwuuid,zwh,qyid,czlx,czrid,czrmc,czsj,rzsj,ffmc,delete_flag,xgrid,xgrmc,xgsj)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4,#{item.yqyid,jdbcType=VARCHAR} yqyid,#{item.zwuuid,jdbcType=VARCHAR} zwuuid,#{item.zwh,jdbcType=VARCHAR} zwh,#{item.qyid,jdbcType=VARCHAR} qyid,#{item.czlx,jdbcType=VARCHAR} czlx,#{item.czrid,jdbcType=VARCHAR} czrid,#{item.czrmc,jdbcType=VARCHAR} czrmc,#{item.czsj,jdbcType=DATE} czsj,#{item.rzsj,jdbcType=DATE} rzsj,#{item.ffmc,jdbcType=VARCHAR} ffmc,'N' delete_flag,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj
		</foreach>
		ON DUPLICATE KEY UPDATE   
			uuid = VALUES(uuid),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4),
			yqyid = VALUES(yqyid),
			zwuuid = VALUES(zwuuid),
			zwh = VALUES(zwh),
			qyid = VALUES(qyid),
			czlx = VALUES(czlx),
			czrid = VALUES(czrid),
			czrmc = VALUES(czrmc),
			czsj = VALUES(czsj),
			rzsj = VALUES(rzsj),
			ffmc = VALUES(ffmc),
			delete_flag = VALUES(delete_flag),
			xgrid = VALUES(xgrid),
			xgrmc = VALUES(xgrmc),
			xgsj = VALUES(xgsj)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="ZwlogVO"  resultType="ZwlogVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM CFPA_ZW_LOG t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
