* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'simsun';
    background: #ebedef;
    min-width: 1256px;
    color: #000;
}

.app-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #0075c7;
    background-image: url(../images/app-logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.qrcode-btn {
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 9px 16px 0 0;
    background-image: url(../images/qrcode.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
}

.qrcode-btn:hover {
    background-color: rgba(255,255,255,0.2);
}

.content-wrap {
    position: relative;
    /* overflow-x: hidden;
    overflow-y: auto; */
    /* margin-top: 66px; */
}

#content {
    width: 100%;
}

.content-block {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
 	
}

.content-block .open-photo {
    color: #0075c7;
    cursor: pointer;
}

.qrcode-img {
    float: left;
    width: 96px;
    height: 96px;
    margin: 16px;
}
.qrcode-img:hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 320px;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
    z-index: 10;
}
.cover-body {
    position: relative;
    padding: 0 0 64px 0;
}

.cover-code {
    display: block;
    line-height: 32px;
    padding-top: 16px;
    padding-right: 32px;
    text-align: right;
}

.cover-title {
    position: absolute;
    top: 96px;
    width: 100%;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.cover-info-list {
    width: 400px;
    list-style: none;
    margin: 200px auto 24px auto;
}
.cover-info-list li {
    line-height: 28px;
}

.cover-info-list strong {
    display: inline-block;
    width: 128px;
    text-align: right;
}
.cover-update-list {
    width: 380px;
    list-style: none;
    margin: 64px auto 0 auto;
    font-size: 14px;
}
.cover-update-list li {
    line-height: 28px;
}

.cover-update-list strong {
    display: inline-block;
    width: 156px;
    text-align: right;
}

.cover-qrcode-wrap {
    text-align: center;
    margin: 24px auto;
}

.update-row {
    margin-top: 64px;
    text-align: center;
}
.uodate-duty-field {
    margin: 0 32px;
}
.cover-images-wrap {
    list-style: none;
}
.cover-images-wrap li {
    margin: 16px 0;
    text-align: center;
}
.cover-images-wrap img {
    max-width: 90%;
}

.cover-footer {
    padding: 8px;
    line-height: 24px;
    text-align: center;
    background-color: #fffb9e;
    border-top: 1px solid #eae100;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    color: #b97100;
}

.block-header {
	position:fixed; 
	top:0; 
    line-height: 50px;
    font-size: 16px;
    background: rgba(51,51,51,0.9);
    color: #fff;
  	width: 100%;
  	text-align: center;
  	z-index: 999;
}

.block-body {
    padding: 16px;
}
.sub-block{
	float: left;
	margin: 9px;
}
.block-body .photo-tag,
.sub-block-body {
	width: 400px;
    height: 420px;
    
}
.sub-block-body:hover{
	width: 400px;
    height: 420px;
    background: rgba(256,256,256,0.1);
    border-radius: 5px;
    
}
.photo-tag {
	width: 382px;
    height: 382px;
    cursor:url('../img/icon/fd.png'),auto;
   
}

.sub-block-header {
   
   width: 382px;
   margin-top: -25px;
}
.sub-block-header .header-title-inner {
    line-height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.sub-block-body {
    margin: 16px 8px 8px 8px;
    padding: 30px 8px 16px 8px;
}

.open-info {
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    background-image: url('../images/icon_info.png');
    cursor: pointer;
}

.data-table {
    width: 100%;
    font-size: 14px;
    border-width: 1px 0 0 1px;
    border-color: #ddd;
    border-style: solid;
    border-collapse: collapse;
}

.data-table th {
    text-align: right;
    background-color: #f5f5f5;
}
.data-table th strong {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #0075c7;
}
.data-table th.block-th {
    font-size: 16px;
    text-align: center;
    color: #0075c7;
    background-color: #ddd;
}

.data-table th,
.data-table td {
    padding: 8px;
    border-width: 0 1px 1px 0;
    border-color: #ddd;
    border-style: solid;
    color: #555;
}

.data-table .tag-item {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 400;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.data-table .data-table {
    margin: 8px 0;
}
.data-table .data-table:first-child {
    margin: 0 0 8px 0;
}
.data-table .data-table:last-child {
    margin: 8px 0 0 0;
}

.plan-operation-wrap {
    padding-left: 32px;
}
.plan-operation-wrap h6 {
    font-size: 14px;
    color: #ff6600;
}
.sub-plan-operation-wrap {
    padding-left: 16px;
    list-style-type: square;
}

.more-btn {
    float: right;
    padding: 4px 8px;
    font-weight: normal;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.more-btn:hover {
    border: 1px solid #ddd;
    background-color: #eaeaea;
}

.attachment-item {
    display: inline-block;
    width: 400px;
    height: 80px;
    margin: 4px;
    padding: 16px 16px 16px 80px;
    text-align: left;
    text-decoration: inherit;
    background-color: #eaeaea;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
}

.file-type-doc {
    background-image: url(../images/files/doc_icon.png)
}

.file-type-xls {
    background-image: url(../images/files/xls_icon.png)
}

.file-type-ppt {
    background-image: url(../images/files/ppt_icon.png)
}

.file-type-pdf {
    background-image: url(../images/files/pdf_icon.png)
}

.file-type-txt {
    background-image: url(../images/files/txt_icon.png)
}

.file-type-video {
    background-image: url(../images/files/video_icon.png)
}

.file-type-audio {
    background-image: url(../images/files/audio_icon.png)
}

.file-type-img {
    background-image: url(../images/files/img_icon.png)
}

.file-type-unkonwn {
    background-image: url(../images/files/unkonwn_icon.png)
}

.images-wrap {
    list-style: none;
    text-align: center;
}

.images-wrap li {
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 4px;
    background-size: cover;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.images-wrap img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.pano-item {
    display: inline-block;
    width: 400px;
    height: 80px;
    margin: 4px;
    padding: 8px 16px 8px 80px;
    text-align: left;
    text-decoration: inherit;
    background-image: url(../images/files/pano_icon.png);
    background-color: #eaeaea;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
}

.pano-item-title {
    display: block;
    line-height: 24px;
    font-weight: bold;
}

.pano-item-desc {
    display: block;
    font-size: 12px;
    color: 888;
}

#sideToolbar {
    width: 240px;
}
