<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.jxcsplan.JxcsjzxxDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="jzid != null and jzid != '' ">
            and t.jzid = #{jzid}
        </if>
        <if test="jzmc != null and jzmc != '' ">
            and t.jzmc LIKE concat(concat('%',#{jzmc}),'%')
        </if>
        <if test="jzwz != null and jzwz != '' ">
            and t.jzwz LIKE concat(concat('%',#{jzwz}),'%')
        </if>
        <if test="jzsyxz != null and jzsyxz != '' ">
            and t.jzsyxz LIKE concat(rtrim(#{jzsyxz},'0'),'%')
        </if>
        <if test="jzjg != null and jzjg != '' ">
            and t.jzjg = #{jzjg}
        </if>
        <if test="gnms != null and gnms != '' ">
            and t.gnms = #{gnms}
        </if>
        <if test="zdmj != null and zdmj != '' ">
            and t.zdmj = #{zdmj}
        </if>
        <if test="jzmj != null and jzmj != '' ">
            and t.jzmj = #{jzmj}
        </if>
        <if test="dsgd != null and dsgd != '' ">
            and t.dsgd = #{dsgd}
        </if>
        <if test="dxgd != null and dxgd != '' ">
            and t.dxgd = #{dxgd}
        </if>
        <if test="dscs != null and dscs != '' ">
            and t.dscs = #{dscs}
        </if>
        <if test="dxcs != null and dxcs != '' ">
            and t.dxcs = #{dxcs}
        </if>
        <if test="bnc != null and bnc != '' ">
            and t.bnc = #{bnc}
        </if>
        <if test="xqxclx != null and xqxclx != '' ">
            and t.xqxclx = #{xqxclx}
        </if>
        <if test="yjddsc != null and yjddsc != '' ">
            and t.yjddsc = #{yjddsc}
        </if>
        <if test="bz != null and bz != '' ">
            and t.bz = #{bz}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="datasource != null and datasource != '' ">
            and t.datasource = #{datasource}
        </if>
        <if test="jdh != null and jdh != '' and orgJgid != '01000000' ">
            and t.jdh = #{jdh}
        </if>
        <if test="sjc != null and sjc != '' ">
            and t.sjc = #{sjc}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.jzid jzid,
		t.jzmc jzmc,
		t.jzwz jzwz,
		t.jzsyxz jzsyxz,
		t.jzjg jzjg,
		t.gnms gnms,
		to_char(t2.zdmj,'fm9999999990.00') zdmj,
		to_char(t2.jzmj,'fm9999999990.00') jzmj,
		to_char(t2.dsgd,'fm9999999990.00') dsgd,
		to_char(t2.dxgd,'fm9999999990.00') dxgd,
		t.dscs dscs,
		t.dxcs dxcs,
		t.bnc bnc,
		t.xqxclx xqxclx,
		t.yjddsc yjddsc,
		t.bz bz,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.datasource datasource,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="JxcsjzxxVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM YAGL_JXCS_JZXX t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="JxcsjzxxVO" resultType="JxcsjzxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzsyxzmc,
        c4.code_name jzjgmc
        FROM YAGL_JXCS_JZXX t
        <!--建筑使用性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZSYXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzsyxz = c2.CODE_VALUE
        <!--建筑结构-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZJG' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c3.CODEID = c4.CODEID And c4.DELETE_FLAG = 'N' and t.jzjg = c4.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="JxcsjzxxVO" resultType="JxcsjzxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzsyxzmc,
        c4.code_name jzjgmc
        FROM YAGL_JXCS_JZXX t
        <!--建筑使用性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZSYXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzsyxz = c2.CODE_VALUE
        <!--建筑结构-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZJG' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c3.CODEID = c4.CODEID And c4.DELETE_FLAG = 'N' and t.jzjg = c4.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N' AND t.JZID = #{value}
    </select>

    <!--6.按照VO插入-->
    <insert id="doInsertByVO" parameterType="JxcsjzxxVO">
        <selectKey resultType="String" order="BEFORE" keyProperty="jzid">
            SELECT SYS_GUID() AS jzid FROM DUAL
        </selectKey>
        INSERT INTO
        YAGL_JXCS_JZXX(jzid,jzmc,jzwz,jzsyxz,jzjg,gnms,zdmj,jzmj,dsgd,dxgd,dscs,dxcs,bnc,xqxclx,yjddsc,bz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
        VALUES(#{jzid,jdbcType=VARCHAR},#{jzmc,jdbcType=VARCHAR},#{jzwz,jdbcType=VARCHAR},#{jzsyxz,jdbcType=VARCHAR},#{jzjg,jdbcType=VARCHAR},#{gnms,jdbcType=VARCHAR},#{zdmj,jdbcType=DOUBLE},#{jzmj,jdbcType=DOUBLE},#{dsgd,jdbcType=DOUBLE},#{dxgd,jdbcType=DOUBLE},#{dscs,jdbcType=DOUBLE},#{dxcs,jdbcType=DOUBLE},#{bnc,jdbcType=VARCHAR},#{xqxclx,jdbcType=VARCHAR},#{yjddsc,jdbcType=DOUBLE},#{bz,jdbcType=VARCHAR},'N',#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},#{cjsj,jdbcType=DATE},#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},#{datasource,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
    </insert>

    <!--7.批量插入-->
    <insert id="doBatchInsertByList" parameterType="java.util.List">
        INSERT INTO
        YAGL_JXCS_JZXX(jzid,jzmc,jzwz,jzsyxz,jzjg,gnms,zdmj,jzmj,dsgd,dxgd,dscs,dxcs,bnc,xqxclx,yjddsc,bz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
        SELECT SYS_GUID() jzid, A.*
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.jzid,jdbcType=VARCHAR} jzid,#{item.jzmc,jdbcType=VARCHAR} jzmc,#{item.jzwz,jdbcType=VARCHAR}
            jzwz,#{item.jzsyxz,jdbcType=VARCHAR} jzsyxz,#{item.jzjg,jdbcType=VARCHAR} jzjg,#{item.gnms,jdbcType=VARCHAR}
            gnms,#{item.zdmj,jdbcType=DOUBLE} zdmj,#{item.jzmj,jdbcType=DOUBLE} jzmj,#{item.dsgd,jdbcType=DOUBLE}
            dsgd,#{item.dxgd,jdbcType=DOUBLE} dxgd,#{item.dscs,jdbcType=DOUBLE} dscs,#{item.dxcs,jdbcType=DOUBLE}
            dxcs,#{item.bnc,jdbcType=VARCHAR} bnc,#{item.xqxclx,jdbcType=VARCHAR} xqxclx,#{item.yjddsc,jdbcType=DOUBLE}
            yjddsc,#{item.bz,jdbcType=VARCHAR} bz,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE}
            xgsj,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.jdh,jdbcType=VARCHAR}
            jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <!--8.按主键逻辑删除-->
    <update id="doDeleteById" parameterType="String">
		UPDATE  YAGL_JXCS_JZXX t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.JZID = #{value}
	</update>

    <!--9.按复合条件逻辑更新-->
    <update id="doUpdateByVO" parameterType="JxcsjzxxVO">
        UPDATE YAGL_JXCS_JZXX
        <set>
            <if test="jzid != null">jzid=#{jzid},</if>
            <if test="jzmc != null">jzmc=#{jzmc},</if>
            <if test="jzwz != null">jzwz=#{jzwz},</if>
            <if test="jzsyxz != null">jzsyxz=#{jzsyxz},</if>
            <if test="jzjg != null">jzjg=#{jzjg},</if>
            <if test="gnms != null">gnms=#{gnms},</if>
            <if test="zdmj != null">zdmj=#{zdmj},</if>
            <if test="jzmj != null">jzmj=#{jzmj},</if>
            <if test="dsgd != null">dsgd=#{dsgd},</if>
            <if test="dxgd != null">dxgd=#{dxgd},</if>
            <if test="dscs != null">dscs=#{dscs},</if>
            <if test="dxcs != null">dxcs=#{dxcs},</if>
            <if test="bnc != null">bnc=#{bnc},</if>
            <if test="xqxclx != null">xqxclx=#{xqxclx},</if>
            <if test="yjddsc != null">yjddsc=#{yjddsc},</if>
            <if test="bz != null">bz=#{bz},</if>
            <if test="deleteFlag != null">delete_flag='N',</if>
            <if test="cjrid != null">cjrid=#{cjrid},</if>
            <if test="cjrmc != null">cjrmc=#{cjrmc},</if>
            <if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="xgrid != null">xgrid=#{xgrid},</if>
            <if test="xgrmc != null">xgrmc=#{xgrmc},</if>
            <if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="datasource != null">datasource=#{datasource},</if>
            <if test="jdh != null">jdh=#{jdh},</if>
            <if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
            <if test="reserve3 != null">reserve3=#{reserve3},</if>
            <if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
        </set>
        WHERE JZID = #{jzid}
    </update>

    <!--10.批量修改-->
    <update id="doBatchUpdateByList" parameterType="java.util.List">
        INSERT INTO
        YAGL_JXCS_JZXX(jzid,jzmc,jzwz,jzsyxz,jzjg,gnms,zdmj,jzmj,dsgd,dxgd,dscs,dxcs,bnc,xqxclx,yjddsc,bz,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.jzid,jdbcType=VARCHAR} jzid,#{item.jzmc,jdbcType=VARCHAR} jzmc,#{item.jzwz,jdbcType=VARCHAR}
            jzwz,#{item.jzsyxz,jdbcType=VARCHAR} jzsyxz,#{item.jzjg,jdbcType=VARCHAR} jzjg,#{item.gnms,jdbcType=VARCHAR}
            gnms,#{item.zdmj,jdbcType=DOUBLE} zdmj,#{item.jzmj,jdbcType=DOUBLE} jzmj,#{item.dsgd,jdbcType=DOUBLE}
            dsgd,#{item.dxgd,jdbcType=DOUBLE} dxgd,#{item.dscs,jdbcType=DOUBLE} dscs,#{item.dxcs,jdbcType=DOUBLE}
            dxcs,#{item.bnc,jdbcType=VARCHAR} bnc,#{item.xqxclx,jdbcType=VARCHAR} xqxclx,#{item.yjddsc,jdbcType=DOUBLE}
            yjddsc,#{item.bz,jdbcType=VARCHAR} bz,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE}
            xgsj,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.jdh,jdbcType=VARCHAR}
            jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
        </foreach>
        ON DUPLICATE KEY UPDATE
        jzid = VALUES(jzid),
        jzmc = VALUES(jzmc),
        jzwz = VALUES(jzwz),
        jzsyxz = VALUES(jzsyxz),
        jzjg = VALUES(jzjg),
        gnms = VALUES(gnms),
        zdmj = VALUES(zdmj),
        jzmj = VALUES(jzmj),
        dsgd = VALUES(dsgd),
        dxgd = VALUES(dxgd),
        dscs = VALUES(dscs),
        dxcs = VALUES(dxcs),
        bnc = VALUES(bnc),
        xqxclx = VALUES(xqxclx),
        yjddsc = VALUES(yjddsc),
        bz = VALUES(bz),
        delete_flag = VALUES(delete_flag),
        cjrid = VALUES(cjrid),
        cjrmc = VALUES(cjrmc),
        cjsj = VALUES(cjsj),
        xgrid = VALUES(xgrid),
        xgrmc = VALUES(xgrmc),
        xgsj = VALUES(xgsj),
        datasource = VALUES(datasource),
        jdh = VALUES(jdh),
        sjc = VALUES(sjc),
        reserve1 = VALUES(reserve1),
        reserve2 = VALUES(reserve2),
        reserve3 = VALUES(reserve3),
        reserve4 = VALUES(reserve4)
    </update>

    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="JxcsjzxxVO" resultType="JxcsjzxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzsyxzmc,
        c4.code_name jzjgmc
        FROM YAGL_JXCS_JZXX t
        <!--建筑使用性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZSYXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzsyxz = c2.CODE_VALUE
        <!--建筑结构-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZJG' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c3.CODEID = c4.CODEID And c4.DELETE_FLAG = 'N' and t.jzjg = c4.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--12.按复合条件逻辑删除-->
    <update id="doDeleteByVO" parameterType="JxcsjzxxVO">
        UPDATE YAGL_JXCS_JZXX
        <set>
            <if test="deleteFlag != null">delete_flag=#{deleteFlag},</if>
            <if test="xgrid != null">xgrid=#{xgrid},</if>
            <if test="xgrmc != null">xgrmc=#{xgrmc},</if>
            <if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="datasource != null">datasource=#{datasource},</if>
            <if test="jdh != null">jdh=#{jdh},</if>
            <if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
            <if test="reserve3 != null">reserve3=#{reserve3},</if>
            <if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
        </set>
        WHERE JZID = #{jzid}
    </update>

    <!--根据单位id获取建筑详情集合-->
    <select id="doFindJzxxByDwid" parameterType="JxcsjbxxVO" resultType="JxcsjzxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzsyxzmc,
        c4.code_name jzjgmc
        FROM YAGL_JXCS_JZXX t
        <!--建筑使用性质-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZSYXZ' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzsyxz = c2.CODE_VALUE
        <!--建筑结构-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZJG' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c3.CODEID = c4.CODEID And c4.DELETE_FLAG = 'N' and t.jzjg = c4.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        AND t.jzid in (select jz.jzid from yagl_jxcs_jbxx_jzxx jz where jz.dwid=#{value})
    </select>

</mapper>
