<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.exhibition.dao.prediction.QyjbxxDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="qyid != null and qyid != '' ">
            and t.qyid = #{qyid}
        </if>
        <if test="userid != null and userid != '' ">
            and t.userid = #{userid}
        </if>
        <if test="zwgsmc != null and zwgsmc != '' ">
            and t.zwgsmc LIKE concat(concat('%',#{zwgsmc}),'%')
        </if>
        <if test="ywgsmc != null and ywgsmc != '' ">
            and t.ywgsmc LIKE concat(concat('%',#{ywgsmc}),'%')
        </if>
        <if test="frdb != null and frdb != '' ">
            and t.frdb = #{frdb}
        </if>
        <if test="frdbdh != null and frdbdh != '' ">
            and t.frdbdh = #{frdbdh}
        </if>
        <if test="yjdz != null and yjdz != '' ">
            and (t.yjdzsheng LIKE concat(concat('%',#{yjdz}),'%')
            or t.yjdzshi LIKE concat(concat('%',#{yjdz}),'%')
            or t.yjdzxx LIKE concat(concat('%',#{yjdz}),'%'))
        </if>
        <if test="yjdzsheng != null and yjdzsheng != '' ">
            and t.yjdzsheng = #{yjdzsheng}
        </if>
        <if test="yjdzshi != null and yjdzshi != '' ">
            and t.yjdzshi = #{yjdzshi}
        </if>
        <if test="yjdzxx != null and yjdzxx != '' ">
            and t.yjdzxx = #{yjdzxx}
        </if>
        <if test="bgdh != null and bgdh != '' ">
            and t.bgdh = #{bgdh}
        </if>
        <if test="cz != null and cz != '' ">
            and t.cz = #{cz}
        </if>
        <if test="lxr != null and lxr != '' ">
            and t.lxr = #{lxr}
        </if>
        <if test="lxrsj != null and lxrsj != '' ">
            and t.lxrsj = #{lxrsj}
        </if>
        <if test="wz != null and wz != '' ">
            and t.wz = #{wz}
        </if>
        <if test="dzyx != null and dzyx != '' ">
            and t.dzyx = #{dzyx}
        </if>
        <if test="yyzz != null and yyzz != '' ">
            and t.yyzz = #{yyzz}
        </if>
        <if test="sjzt != null and sjzt != '' ">
            and t.sjzt = #{sjzt}
        </if>
        <if test="approveflag != null and approveflag != '' ">
            and t.sjzt != '01'
        </if>
        <if test="shzt != null and shzt != '' ">
            and t.shzt = #{shzt}
        </if>
        <if test="shrid != null and shrid != '' ">
            and t.shrid = #{shrid}
        </if>
        <if test="shrmc != null and shrmc != '' ">
            and t.shrmc = #{shrmc}
        </if>
        <if test="shsj != null and shsj != '' ">
            and t.shsj = #{shsj}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.qyid qyid,
		t.userid userid,
		t.zwgsmc zwgsmc,
		t.ywgsmc ywgsmc,
		t.frdb frdb,
		t.frdbdh frdbdh,
		t.yjdzsheng yjdzsheng,
		t.yjdzshi yjdzshi,
		t.yjdzxx yjdzxx,
		t.bgdh bgdh,
		t.cz cz,
		t.lxr lxr,
		t.lxrsj lxrsj,
		t.wz wz,
		t.dzyx dzyx,
		t.yyzz yyzz,
		t.sjzt sjzt,
		t.shzt shzt,
		t.shrid shrid,
		t.shrmc shrmc,
		TO_CHAR(t.shsj,'yyyy-MM-dd HH24:mi:ss') shsj,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="QyjbxxVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM CFPA_QY_JBXX t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="QyjbxxVO" resultType="QyjbxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        k.tyshxydm tyshxydm,
        c2.code_name sjztmc,
        c4.code_name shztmc
        FROM CFPA_QY_JBXX t
        <!--数据状态-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'SJZT' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.sjzt = c2.CODE_VALUE
        <!--审核状态-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'SHZT' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t.shzt = c4.CODE_VALUE
        <!--统一社会信用代码-->
        Left Join CFPA_QY_KPXX k on t.qyid = k.qyid And k.DELETE_FLAG = 'N'
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="QyjbxxVO" resultType="QyjbxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name sjztmc,
        c4.code_name shztmc
        FROM CFPA_QY_JBXX t
        <!--数据状态-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'SJZT' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.sjzt = c2.CODE_VALUE
        <!--审核状态-->
        Left Join SYS_CODELIST c3 on c3.CODETYPE = 'SHZT' And c3.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t.shzt = c4.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N' AND t.QYID = #{value}
    </select>

    <!--6.按照VO插入-->
    <insert id="doInsertByVO" parameterType="QyjbxxVO">
        <selectKey resultType="String" order="BEFORE" keyProperty="qyid">
            SELECT SYS_GUID() AS qyid FROM DUAL
        </selectKey>
        INSERT INTO
        CFPA_QY_JBXX(qyid,userid,zwgsmc,ywgsmc,frdb,frdbdh,yjdzsheng,yjdzshi,yjdzxx,bgdh,cz,lxr,lxrsj,wz,dzyx,yyzz,sjzt,shzt,shrid,shrmc,shsj,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        VALUES(#{qyid,jdbcType=VARCHAR},#{userid,jdbcType=VARCHAR},#{zwgsmc,jdbcType=VARCHAR},#{ywgsmc,jdbcType=VARCHAR},#{frdb,jdbcType=VARCHAR},#{frdbdh,jdbcType=VARCHAR},#{yjdzsheng,jdbcType=VARCHAR},#{yjdzshi,jdbcType=VARCHAR},#{yjdzxx,jdbcType=VARCHAR},#{bgdh,jdbcType=VARCHAR},#{cz,jdbcType=VARCHAR},#{lxr,jdbcType=VARCHAR},#{lxrsj,jdbcType=VARCHAR},#{wz,jdbcType=VARCHAR},#{dzyx,jdbcType=VARCHAR},#{yyzz,jdbcType=VARCHAR},#{sjzt,jdbcType=VARCHAR},#{shzt,jdbcType=VARCHAR},#{shrid,jdbcType=VARCHAR},#{shrmc,jdbcType=VARCHAR},#{shsj,jdbcType=DATE},'N',#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},sysdate,#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
    </insert>

    <!--7.批量插入-->
    <insert id="doBatchInsertByList" parameterType="java.util.List">
        INSERT INTO
        CFPA_QY_JBXX(qyid,userid,zwgsmc,ywgsmc,frdb,frdbdh,yjdzsheng,yjdzshi,yjdzxx,bgdh,cz,lxr,lxrsj,wz,dzyx,yyzz,sjzt,shzt,shrid,shrmc,shsj,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        SELECT SYS_GUID() qyid, A.*
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.qyid,jdbcType=VARCHAR} qyid,#{item.userid,jdbcType=VARCHAR} userid,#{item.zwgsmc,jdbcType=VARCHAR}
            zwgsmc,#{item.ywgsmc,jdbcType=VARCHAR} ywgsmc,#{item.frdb,jdbcType=VARCHAR}
            frdb,#{item.frdbdh,jdbcType=VARCHAR} frdbdh,#{item.yjdzsheng,jdbcType=VARCHAR}
            yjdzsheng,#{item.yjdzshi,jdbcType=VARCHAR} yjdzshi,#{item.yjdzxx,jdbcType=VARCHAR}
            yjdzxx,#{item.bgdh,jdbcType=VARCHAR} bgdh,#{item.cz,jdbcType=VARCHAR} cz,#{item.lxr,jdbcType=VARCHAR}
            lxr,#{item.lxrsj,jdbcType=VARCHAR} lxrsj,#{item.wz,jdbcType=VARCHAR} wz,#{item.dzyx,jdbcType=VARCHAR}
            dzyx,#{item.yyzz,jdbcType=VARCHAR} yyzz,#{item.sjzt,jdbcType=VARCHAR} sjzt,#{item.shzt,jdbcType=VARCHAR}
            shzt,#{item.shrid,jdbcType=VARCHAR} shrid,#{item.shrmc,jdbcType=VARCHAR} shrmc,#{item.shsj,jdbcType=DATE}
            shsj,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR}
            cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR}
            xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <!--8.按主键逻辑删除-->
    <update id="doDeleteById" parameterType="String">
		UPDATE  CFPA_QY_JBXX t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.QYID = #{value}
	</update>

    <!--9.按复合条件逻辑更新-->
    <update id="doUpdateByVO" parameterType="QyjbxxVO">
        UPDATE CFPA_QY_JBXX
        <set>
        <!--    <if test="qyid != null">qyid=#{qyid},</if>  -->
            <if test="userid != null">userid=#{userid},</if>
            <if test="zwgsmc != null">zwgsmc=#{zwgsmc},</if>
            <if test="ywgsmc != null">ywgsmc=#{ywgsmc},</if>
            <if test="frdb != null">frdb=#{frdb},</if>
            <if test="frdbdh != null">frdbdh=#{frdbdh},</if>
            <if test="yjdzsheng != null">yjdzsheng=#{yjdzsheng},</if>
            <if test="yjdzshi != null">yjdzshi=#{yjdzshi},</if>
            <if test="yjdzxx != null">yjdzxx=#{yjdzxx},</if>
            <if test="bgdh != null">bgdh=#{bgdh},</if>
            <if test="cz != null">cz=#{cz},</if>
            <if test="lxr != null">lxr=#{lxr},</if>
            <if test="lxrsj != null">lxrsj=#{lxrsj},</if>
            <if test="wz != null">wz=#{wz},</if>
            <if test="dzyx != null">dzyx=#{dzyx},</if>
            <if test="yyzz != null">yyzz=#{yyzz},</if>
            <if test="sjzt != null">sjzt=#{sjzt},</if>
            <if test="shzt != null">shzt=#{shzt},</if>
            <if test="shrid != null">shrid=#{shrid},</if>
            <if test="shrmc != null">shrmc=#{shrmc},</if>
            <if test="shsj != null">shsj=TO_DATE(#{shsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="deleteFlag != null">delete_flag='N',</if>
            <if test="cjrid != null">cjrid=#{cjrid},</if>
            <if test="cjrmc != null">cjrmc=#{cjrmc},</if>
            <if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="xgrid != null">xgrid=#{xgrid},</if>
            <if test="xgrmc != null">xgrmc=#{xgrmc},</if>
            xgsj=sysdate,
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
            <if test="reserve3 != null">reserve3=#{reserve3},</if>
            <if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
        </set>
        WHERE QYID = #{qyid}
    </update>

    <!--10.批量修改-->
    <update id="doBatchUpdateByList" parameterType="java.util.List">
        INSERT INTO
        CFPA_QY_JBXX(qyid,userid,zwgsmc,ywgsmc,frdb,frdbdh,yjdzsheng,yjdzshi,yjdzxx,bgdh,cz,lxr,lxrsj,wz,dzyx,yyzz,sjzt,shzt,shrid,shrmc,shsj,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.qyid,jdbcType=VARCHAR} qyid,#{item.userid,jdbcType=VARCHAR} userid,#{item.zwgsmc,jdbcType=VARCHAR}
            zwgsmc,#{item.ywgsmc,jdbcType=VARCHAR} ywgsmc,#{item.frdb,jdbcType=VARCHAR}
            frdb,#{item.frdbdh,jdbcType=VARCHAR} frdbdh,#{item.yjdzsheng,jdbcType=VARCHAR}
            yjdzsheng,#{item.yjdzshi,jdbcType=VARCHAR} yjdzshi,#{item.yjdzxx,jdbcType=VARCHAR}
            yjdzxx,#{item.bgdh,jdbcType=VARCHAR} bgdh,#{item.cz,jdbcType=VARCHAR} cz,#{item.lxr,jdbcType=VARCHAR}
            lxr,#{item.lxrsj,jdbcType=VARCHAR} lxrsj,#{item.wz,jdbcType=VARCHAR} wz,#{item.dzyx,jdbcType=VARCHAR}
            dzyx,#{item.yyzz,jdbcType=VARCHAR} yyzz,#{item.sjzt,jdbcType=VARCHAR} sjzt,#{item.shzt,jdbcType=VARCHAR}
            shzt,#{item.shrid,jdbcType=VARCHAR} shrid,#{item.shrmc,jdbcType=VARCHAR} shrmc,#{item.shsj,jdbcType=DATE}
            shsj,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR}
            cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR}
            xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
        </foreach>
        ON DUPLICATE KEY UPDATE
        qyid = VALUES(qyid),
        userid = VALUES(userid),
        zwgsmc = VALUES(zwgsmc),
        ywgsmc = VALUES(ywgsmc),
        frdb = VALUES(frdb),
        frdbdh = VALUES(frdbdh),
        yjdzsheng = VALUES(yjdzsheng),
        yjdzshi = VALUES(yjdzshi),
        yjdzxx = VALUES(yjdzxx),
        bgdh = VALUES(bgdh),
        cz = VALUES(cz),
        lxr = VALUES(lxr),
        lxrsj = VALUES(lxrsj),
        wz = VALUES(wz),
        dzyx = VALUES(dzyx),
        yyzz = VALUES(yyzz),
        sjzt = VALUES(sjzt),
        shzt = VALUES(shzt),
        shrid = VALUES(shrid),
        shrmc = VALUES(shrmc),
        shsj = VALUES(shsj),
        delete_flag = VALUES(delete_flag),
        cjrid = VALUES(cjrid),
        cjrmc = VALUES(cjrmc),
        cjsj = VALUES(cjsj),
        xgrid = VALUES(xgrid),
        xgrmc = VALUES(xgrmc),
        xgsj = VALUES(xgsj),
        reserve1 = VALUES(reserve1),
        reserve2 = VALUES(reserve2),
        reserve3 = VALUES(reserve3),
        reserve4 = VALUES(reserve4)
    </update>

    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="QyjbxxVO" resultType="QyjbxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM CFPA_QY_JBXX t
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--11.根据用户、公司对象查询展商记录 by li.xue 2018/10/9 11:16-->
    <select id="doFindZsxxByQyjbxx" parameterType="QyjbxxVO" resultType="QyjbxxVO">
        SELECT
        s.username,
        s.userid,
        u.pkid,
        <include refid="SQL_CONTENT"/>
        FROM SYS_ACCOUNT s
        LEFT JOIN CFPA_QY_JBXX t ON s.userid = t.userid AND t.DELETE_FLAG = 'N'
        INNER JOIN SYS_USER u ON s.userid = u.userid AND u.DELETE_FLAG = 'N' AND u.deptid = 'ZSYH'
        WHERE s.DELETE_FLAG = 'N'
        <if test="username != null and username != '' ">
            and s.username LIKE concat(concat('%',#{username}),'%')
        </if>
        <include refid="SQL_CONDITION"/>
    </select>

</mapper>
