<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.exhibition.dao.prediction.QykpxxDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="uuid != null and uuid != '' ">
            and t.uuid = #{uuid}
        </if>
        <if test="qyid != null and qyid != '' ">
            and t.qyid = #{qyid}
        </if>
        <if test="kplx != null and kplx != '' ">
            and t.kplx = #{kplx}
        </if>
        <if test="kpgsmc != null and kpgsmc != '' ">
            and t.kpgsmc = #{kpgsmc}
        </if>
        <if test="tyshxydm != null and tyshxydm != '' ">
            and t.tyshxydm = #{tyshxydm}
        </if>
        <if test="gsdz != null and gsdz != '' ">
            and t.gsdz = #{gsdz}
        </if>
        <if test="dhhm != null and dhhm != '' ">
            and t.dhhm = #{dhhm}
        </if>
        <if test="khyh != null and khyh != '' ">
            and t.khyh = #{khyh}
        </if>
        <if test="yhzh != null and yhzh != '' ">
            and t.yhzh = #{yhzh}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.uuid uuid,
		t.qyid qyid,
		t.kplx kplx,
		t.kpgsmc kpgsmc,
		t.tyshxydm tyshxydm,
		t.gsdz gsdz,
		t.dhhm dhhm,
		t.khyh khyh,
		t.yhzh yhzh,
		t.delete_flag deleteFlag,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="QykpxxVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM CFPA_QY_KPXX t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="QykpxxVO" resultType="QykpxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name kplxmc
        FROM CFPA_QY_KPXX t
        <!--开票类型-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'KPLX' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.kplx = c2.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="QykpxxVO" resultType="QykpxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name kplxmc
        FROM CFPA_QY_KPXX t
        <!--开票类型-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'KPLX' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.kplx = c2.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N' AND t.QYID = #{value}
    </select>

    <!--6.按照VO插入-->
    <insert id="doInsertByVO" parameterType="QykpxxVO">
        <selectKey resultType="String" order="BEFORE" keyProperty="uuid">
            SELECT SYS_GUID() AS uuid FROM DUAL
        </selectKey>
        INSERT INTO
        CFPA_QY_KPXX(uuid,qyid,kplx,kpgsmc,tyshxydm,gsdz,dhhm,khyh,yhzh,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        VALUES(#{uuid,jdbcType=VARCHAR},#{qyid,jdbcType=VARCHAR},#{kplx,jdbcType=VARCHAR},#{kpgsmc,jdbcType=VARCHAR},#{tyshxydm,jdbcType=VARCHAR},#{gsdz,jdbcType=VARCHAR},#{dhhm,jdbcType=VARCHAR},#{khyh,jdbcType=VARCHAR},#{yhzh,jdbcType=VARCHAR},'N',#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},sysdate,#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
    </insert>

    <!--7.批量插入-->
    <insert id="doBatchInsertByList" parameterType="java.util.List">
        INSERT INTO
        CFPA_QY_KPXX(uuid,qyid,kplx,kpgsmc,tyshxydm,gsdz,dhhm,khyh,yhzh,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        SELECT SYS_GUID() uuid, A.*
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.uuid,jdbcType=VARCHAR} uuid,#{item.qyid,jdbcType=VARCHAR} qyid,#{item.kplx,jdbcType=VARCHAR}
            kplx,#{item.kpgsmc,jdbcType=VARCHAR} kpgsmc,#{item.tyshxydm,jdbcType=VARCHAR}
            tyshxydm,#{item.gsdz,jdbcType=VARCHAR} gsdz,#{item.dhhm,jdbcType=VARCHAR} dhhm,#{item.khyh,jdbcType=VARCHAR}
            khyh,#{item.yhzh,jdbcType=VARCHAR} yhzh,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <!--8.按主键逻辑删除-->
    <update id="doDeleteById" parameterType="String">
		UPDATE  CFPA_QY_KPXX t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.UUID = #{value}
	</update>

    <!--9.按复合条件逻辑更新-->
    <update id="doUpdateByVO" parameterType="QykpxxVO">
        UPDATE CFPA_QY_KPXX
        <set>
        <!--    <if test="uuid != null">uuid=#{uuid},</if>  -->
            <if test="qyid != null">qyid=#{qyid},</if>
            <if test="kplx != null">kplx=#{kplx},</if>
            <if test="kpgsmc != null">kpgsmc=#{kpgsmc},</if>
            <if test="tyshxydm != null">tyshxydm=#{tyshxydm},</if>
            <if test="gsdz != null">gsdz=#{gsdz},</if>
            <if test="dhhm != null">dhhm=#{dhhm},</if>
            <if test="khyh != null">khyh=#{khyh},</if>
            <if test="yhzh != null">yhzh=#{yhzh},</if>
            <if test="deleteFlag != null">delete_flag='N',</if>
            <if test="cjrid != null">cjrid=#{cjrid},</if>
            <if test="cjrmc != null">cjrmc=#{cjrmc},</if>
            <if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="xgrid != null">xgrid=#{xgrid},</if>
            <if test="xgrmc != null">xgrmc=#{xgrmc},</if>
            xgsj=sysdate,
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
            <if test="reserve3 != null">reserve3=#{reserve3},</if>
            <if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
        </set>
        WHERE UUID = #{uuid}
    </update>

    <!--10.批量修改-->
    <update id="doBatchUpdateByList" parameterType="java.util.List">
        INSERT INTO
        CFPA_QY_KPXX(uuid,qyid,kplx,kpgsmc,tyshxydm,gsdz,dhhm,khyh,yhzh,delete_flag,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,reserve1,reserve2,reserve3,reserve4)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.uuid,jdbcType=VARCHAR} uuid,#{item.qyid,jdbcType=VARCHAR} qyid,#{item.kplx,jdbcType=VARCHAR}
            kplx,#{item.kpgsmc,jdbcType=VARCHAR} kpgsmc,#{item.tyshxydm,jdbcType=VARCHAR}
            tyshxydm,#{item.gsdz,jdbcType=VARCHAR} gsdz,#{item.dhhm,jdbcType=VARCHAR} dhhm,#{item.khyh,jdbcType=VARCHAR}
            khyh,#{item.yhzh,jdbcType=VARCHAR} yhzh,'N' delete_flag,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4
        </foreach>
        ON DUPLICATE KEY UPDATE
        uuid = VALUES(uuid),
        qyid = VALUES(qyid),
        kplx = VALUES(kplx),
        kpgsmc = VALUES(kpgsmc),
        tyshxydm = VALUES(tyshxydm),
        gsdz = VALUES(gsdz),
        dhhm = VALUES(dhhm),
        khyh = VALUES(khyh),
        yhzh = VALUES(yhzh),
        delete_flag = VALUES(delete_flag),
        cjrid = VALUES(cjrid),
        cjrmc = VALUES(cjrmc),
        cjsj = VALUES(cjsj),
        xgrid = VALUES(xgrid),
        xgrmc = VALUES(xgrmc),
        xgsj = VALUES(xgsj),
        reserve1 = VALUES(reserve1),
        reserve2 = VALUES(reserve2),
        reserve3 = VALUES(reserve3),
        reserve4 = VALUES(reserve4)
    </update>

    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="QykpxxVO" resultType="QykpxxVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM CFPA_QY_KPXX t
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

</mapper>
